.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgb(238, 60, 6);
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
}

.links {
  text-decoration: none;
  color: wheat;
  padding-right: 10px;
  align-items: center;
}

.linksDiv {
  align-self: center;
}
