.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #df3131;
  border-radius: 1px;
  padding: 10px;
}

.links {
  text-decoration: none;
  color: white;
  margin-right: 10px;
  padding: 5px;
  align-items: center;
}

.links:hover {
  background: white;
  color: #df3131;
  border-radius: 5px;
}

.linksDiv {
  align-self: center;
}
