.container {
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.link {
  text-decoration: none;
}

.buttonPag {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  align-items: center;
  color: white;
  background-color: #df3131;
  border: 1px solid #df3131;
}

.paginationData {
  display: flex;
  justify-content: center;
  color: rgb(54, 52, 52);
}
