.container {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.link {
  text-decoration: none;
}

.buttonPag {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 5px;
}
