.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-image: url("../../resources/img/table.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

img {
  max-width: 250px !important;
}

.logo {
  background-color: #997573;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 60px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 40px 70px;
  opacity: 0.9;
  width: 20%;
}

.link {
  text-decoration: none !important;
  color: white;
  font-weight: bold;
  align-items: center;
}
