.landing {
  text-align: center;
  color: white;
  background-image: url("../../resources/img/table.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding-right: 10px;
  align-items: center;
}
